 <!--Pricing Tables-->
 <section id="blog" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{blog.tagline}}</h3>
            <h2 class="section-title">{{blog.title | uppercase}}</h2>
        </div>
        <div *ngFor="let post of blog.post"  class="post-block col-3 wow fadeInUp" data-wow-delay="0.4s">
        <app-post [post]="post"></app-post>

        </div>
       

    </div>
    <div>
        <ul *ngIf="pager.allItems">
            <li><a (click)="setPage(1)">first</a></li>
            <li><a (click)="setPage(pager.currentPage - 1)">previous</a></li>
            <li *ngFor="let page of pager.pages">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li><a (click)="setPage(pager.currentPage+1)">next</a></li>
            <li><a (click)="setPage(pager.totalPages)">last</a></li>
        </ul>
            
    </div>
</section>
<!--End of Pricing Tables-->


